@model IEnumerable<BlogProjectGrA.Models.Blog>

@{
    ViewData["Title"] = "Search result";
}

<h1>Search result for: '@ViewData["searchdetails"]'</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<h3>@ViewBag.Message</h3>

<hr />

<h3>Blogs containing: '@ViewData["searchdetails"]'</h3>
<table class="table rounded border border-dark">
    <thead>
        <tr>
            <th>
                Views
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Body)*@
            </th>
            <th>
                Date
            </th>
            <th>
                Author
            </th>
            <th>
                Posts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            
            <partial name="_BrowseBlogPartial" model="item"></partial>
        }
    </tbody>
</table>
