@model BlogProjectGrA.Models.ViewModels.CreateBlogVM

@{
    ViewData["Title"] = "Create";
}

@if (TempData["Message"] != null)
{
<div class="alert alert-warning" role="alert">
  @((string)TempData["Message"])
</div>
}
<h1>Create a Blog</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Blog.Title" class="control-label"></label>
                <input asp-for="Blog.Title" class="form-control" />
                <span asp-validation-for="Blog.Title" class="text-danger"></span>
            </div>
            &ensp;
            <div class="form-group">
                <label asp-for="Blog.Body" class="control-label"></label>
                <textarea asp-for="Blog.Body" class="form-control"></textarea>
                <span asp-validation-for="Blog.Body" class="text-danger"></span>
            </div>
            <br />
            @*<label class="control-label" style="text-align:end">Image File</label>*@
           <div class="form-group" onchange="setFileName()">
                @*<div style="float:left" class="display:table">
                <input accept="image/*" asp-for="File" hidden />
                <input class="form-control" disabled asp-for="FileName"/>
                </div>
                &ensp;
                <button type="button" class="btn" style="background-color:purple;color:white;" onClick="clickFileInput()">Select File</button>
                <span asp-validation-for="FileName" class="text-danger"></span>
                <label>(Recommend 1200 x 300)</label>*@
                @*<span>&ensp;</span>*@
                @*<input class="btn btn-outline-success" type="submit" value="Upload Image" />*@
                <label asp-for="File" class="form-label"></label>
                <input class="form-control" accept="image/*" asp-for="File" multiple>
                <span class="form-text">(Recommend 1200 x 300)</span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create Blog" class="btn btn-primary" style="margin: 15px 0px"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
