@using BlogProjectGrA.Services
@model BlogProjectGrA.Models.Blog


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@foreach (var item in Model.Posts)
{
   <partial name="_PostPartial"model="item"/>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>



