@using BlogProjectGrA.Services
@model IEnumerable<BlogProjectGrA.Models.Blog>


@{
    ViewData["Title"] = "My Blogs";
}

<h1>My Blogs</h1>
<hr />
<p>
    <a asp-controller="Blog" asp-action="Create">Create a new blog</a>
</p>

<p>
    <a class="btn btn-outline-primary" asp-action="Posts">My Posts</a>
</p>

<table class="table rounded border border-dark">
    <thead>
        <tr>
            <th>
                Views
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Tags
            </th>
            <th>
                Date
            </th>
            <th>
                Author
            </th>
            <th>
                Posts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            
            <partial name="_BrowseBlogPartial" model="item"></partial>
        }
    </tbody>
</table>

@*@foreach (var item in Model) //Old code
{
   <partial name="_BlogPartial"model="item"></partial>
}*@

