@using BlogProjectGrA.Services
@model IEnumerable<BlogProjectGrA.Models.Blog>


@{
    ViewData["Title"] = "My Blogs";
}

<h1>My Blogs</h1>
<hr />
<p>
    <a asp-controller="Blog" asp-action="Create">Create a new blog</a>
</p>

@foreach (var item in Model)
{
   <partial name="_BlogPartial"model="item"></partial>
}

@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@