@model BlogProjectGrA.Models.Blog
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "My Posts";
}

<div class="container mt-3">


    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="BrowseBlog" asp-action="Index">All Blogs</a></li>
         @if (SignInManager.IsSignedIn(User))
        {
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Blog" asp-action="Index">My Blogs</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Blog" asp-action="Index">My Posts</a></li>
        }

        <li class="breadcrumb-item"><a>My Posts</a></li>

    </ul>
</div>


<div class="row">
<div class="col-sm- 10">
<h3>Post for: <a asp-controller="BrowseBlog" asp-action="Details" asp-route-id="@Model?.Id" style="text-decoration: none; color: #000000;">@Model.Title</a></h3>
<hr />
</div>
<div class="col-sm-2" >
    @{ViewData["selectedBlogId"] = Model.Id;}
    <a class="btn btn-outline-primary" asp-controller="Post" asp-action="Create" asp-route-blogId="@Model.Id">Create New Post</a>
</div>
</div>
<br />

<div>
 @if (Model.Posts.Count > 0)
        {    
            @foreach(var item in Model.Posts)
            {
                <partial name="_UserPostPartial" model="item"></partial>
                <hr />
                <br />
            }
         }
         else
         {
           <h3>No posts have been made on this blog.</h3>
         }
</div>



