@model BlogProjectGrA.Models.Blog
<div class="row">
<div class="col-sm- 10">
<h3>Post for @Model.Title</h3>

</div>
<div class="col-sm-2" >
    <a class="btn btn-outline-primary"style="float:right" asp-controller="Post" asp-action="Create">Create New Post</a>
</div>

</div>


<div class="row">
      
        @foreach(var item in Model.Posts)
        {
            
            <partial name="_UserPostPartial" model="item"></partial>
        }
   
</div>


