html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:#e4f3ec;
}
p{
    text-decoration-style:solid;
}

#tooltip {
    background-color: lawngreen;
    box-shadow: 5px 5px 10px yellow;
    box-sizing: border-box;
}
label{
    margin-top:15px;
}