@model IEnumerable<BlogProjectGrA.Models.Blog>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using X.PagedList;
@using X.PagedList.Mvc.Core;



@{
    ViewData["Title"] = "Browse Blogs";
}

<div class="container mt-3">


    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="BrowseBlog" asp-action="Index">All blogs</a></li>
       

        <li class="breadcrumb-item"><a>Page</a></li>

    </ul>
</div>

<h1>Browse Blogs</h1>
<hr />
@if (SignInManager.IsSignedIn(User))
    {
    <p>
        <a asp-controller="Blog" asp-action="Create" class="btn btn-primary">Create a new blog</a>
    </p>
    }

<p>
    <a class="btn btn-outline-primary" asp-action="Views">Browse posts based by views</a>
    &nbsp;
    <a class="btn btn-outline-primary" asp-action="Tags">Browse posts by tags</a>
</p>

<table class="table table-striped ">
    @*rounded border border-dark*@
    <thead class="table" style="background-color:whitesmoke">
        <tr>
            <th>
                Views
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @if(SignInManager.IsSignedIn(User))
            {
             <th>
                My Posts
            </th>   
            }
            <th>
                Tags
            </th>
            <th>
                Date
            </th>
            <th>
                Author
            </th>
            <th>
                Posts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            
            <partial name="_BrowseBlogPartial" model="item"></partial>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new{ page = page,
searchfor = @Context.Request.Query["searchfor"], searchby = @Context.Request.Query["searchfor"]}),
new X.PagedList.Web.Common.PagedListRenderOptions{
 LiElementClasses= new string[]{"page-item"},
 PageClasses = new string[]{"page-link"}
})








