@model BlogProjectGrA.Models.ViewModels.PostsTagsViewModel
@using BlogProjectGrA.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Tags";
}

<h1>Browse posts by tag</h1>
<hr />

<p>
    <a class="btn btn-outline-primary" asp-action="Views">Browse posts based by views</a>
    &nbsp;
    <a class="btn btn-outline-primary" asp-action="Index">Browse all Blogs</a>
</p>

<div class="d-flex flex-wrap gap-2 mb-2">
    @foreach (var tag in Model.Tags)
    {
        <a asp-route-tagId="@tag.Id" class="btn btn-warning btn-sm">
            @tag.Name 
            (@tag.Posts.Count posts)
        </a>  
    }
</div>


@if (Model.SelectedTag != null)
{
    <h3>Posts using the '@Model.SelectedTag.Name' tag</h3>
    <br />

} 
else
{
    @*@Model.Posts*@
}

    @foreach (var item in Model.Posts)
    {
    <partial name="_PostPartial" model="item"></partial>
    } 

