@*@model BlogProjectGrA.Models.Post*@
@model IEnumerable<BlogProjectGrA.Models.Post>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Browse posts by views";
}

<div class="container mt-3">


    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="BrowseBlog" asp-action="Index">All Blogs</a></li>
       @* @if (SignInManager.IsSignedIn(User))
        {
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Blog" asp-action="Index">My blogs</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Blog" asp-action="Index">My posts</a></li>
        }*@
       
        <li class="breadcrumb-item"><a>Views</a></li>

    </ul>
</div>

<h1>Browse posts by views</h1>
<hr />

<p>
    <a class="btn btn-outline-primary" asp-action="Index">Browse all Blogs</a>
    &nbsp;
    <a class="btn btn-outline-primary" asp-action="Tags">Browse posts by tags</a>
</p>

<table class="table rounded border border-dark" style="background-color:white">
    @if (Model != null)
    {
       <tbody>
        @foreach(var item in Model)
        {
            <partial name="_PostPartial" model="item"></partial>
        }
        </tbody>
    }
    else
    {
        <h3>No posts were found.</h3>
    }

</table>