@model BlogProjectGrA.Models.Comment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit comment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="AuthorId" />
            <input type="hidden" asp-for="PostsId" />
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
          &ensp;
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
&ensp;
<div>
    <a class="btn btn-outline-primary" asp-controller="Post" asp-action="Details" asp-route-id="@Model.Posts.Id">Back to Post</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
