@model IEnumerable<BlogProjectGrA.Models.Blog>
@*@model BlogProjectGrA.Models.Blog*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager




<div style="background-color:ghostwhite">
    <div class="container-fluid">
    <header class="heading img-fluid">

    <main class="mains">
        <section class="sections">
            <h3>Welcome To Blogging Website</h3>
            <h1>Create Your Own Blog</h1>
            <br />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="btnone" asp-controller="Blog" asp-action="Create">Create a Blog</a>
                    }
                    else
                    {
                       <a class="btnone" asp-area="Identity" asp-page="/Account/Login">Signin</a>
                       <a class="btntwo" asp-area="Identity" asp-page="/Account/Register">Register</a> 
                    }
        </section>
    </main>
    
    </header>
    </div>
    <br />
    <h2 style="text-align:center; padding:10px"> <span class=" badge align-self-md-center" style="background-color:olivedrab; object-position:center">Top 5 Most viewed Blogs</span></h2>

  <div class="row">
        <div class=" col-md-1 offset-md-1"></div>
        <div class="col-md-7" style="object-position:center;">
             @foreach(var item in Model.OrderByDescending(p => p.Posts.Sum(v => v.View)).Take(5))
        { 
            <partial name="_BrowseBlogHomePartial" model="item"></partial>
        }
        </div>
        <div class="col-md-3 offset-md-3"></div>
    </div>
    
    <br />

    <h2 style="text-align:center; padding:10px"> <span class=" badge align-self-md-center" style="background-color:olivedrab; object-position:center">5 Latest posts</span></h2>

   
    <div class="row">
    @foreach(var item in Model.SelectMany(p => p.Posts).OrderByDescending(c => c.CreateAt).Take(5))
            {
                <div class="col-md-6">
                <partial name="_PostHomePartial" model="item"></partial>
                </div>
                
            }
    </div>
    

    <br />
    

   

</div>

