@model IEnumerable<BlogProjectGrA.Models.Blog>
@*@model BlogProjectGrA.Models.Blog*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogProjectGrA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/BlogProjectGrA.styles.css" asp-append-version="true" />
</head>
<body style="background-color:ghostwhite">
    <div class="container-fluid">
    <header class="heading">

       <main class="mains">
        <section class="sections">
            <h3>Welcome To Blogging Website</h3>
            <h1>Create Your Own Blog</h1>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="btnone" asp-controller="Blog" asp-action="Create">Create a Blog</a>
                    }
                    else
                    {
                       <a class="btnone" asp-area="Identity" asp-page="/Account/Login">Signin</a>
                       <a class="btntwo" asp-area="Identity" asp-page="/Account/Register">Register</a> 
                    }
        </section>
    </main>
    
    </header>
    </div>
    <br />
    <h2 style="text-align:center; padding:10px"> <span class=" badge align-self-md-center" style="background-color:olivedrab; object-position:center">Top 5 Most viewed Blogs</span></h2>



  <div class="row">
        <div class=" col-md-1 offset-md-1"></div>
        <div class="col-md-7" style="object-position:center;">
            @foreach (var item in Model.Take(5))
            {
                <partial name="_BrowseBlogHomePartial" model="item"></partial>
            }
        </div>
        <div class="col-md-3 offset-md-3"></div>
    </div>
    
    <br />

    <h2 style="text-align:center; padding:10px"> <span class=" badge align-self-md-center" style="background-color:olivedrab; object-position:center">5 Latest posts</span></h2>
    

        <div class="row">
            @foreach(var item in Model.SelectMany(p => p.Posts.OrderByDescending(c => c.CreateAt)).Take(5))
      
            {
                
                <div class="col-md-6">
                <partial name="_PostHomePartial" model="item" ></partial>
                </div>
                
            }
            
    </div>
    

    <br />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
